<h1>Jukebox Jams!</h1>

<%= form_tag('/search', method: :get) do %>
  <%= search_field_tag('artist') %>
  <%= submit_tag('SEARCH') %>
<% end %>

<%= button_tag('Box of Chocolates!', type: 'button') %>
