---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/breaking.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afbx8qh","from":"yiyun","title":"\uc798\ub098\uac00\uc11c
        \uadf8\ub798 (Feat. \uc815\uc77c\ud6c8 Of BTOB)","artist":"HYUNA(\ud604\uc544)","combinedTruncated":"\uc798\ub098\uac00\uc11c
        \uadf8\ub798 (Feat. \uc815\uc77c\ud6c8 Of BTOB) by HYUN\u2026","caption":null,"jamvatarLarge":"http:\/\/static04.thisismyjam.com\/i\/fbf3f7408ce14acf8a5b7f95bcb59d90_395.jpg?1440274573","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/fbf3f7408ce14acf8a5b7f95bcb59d90_185.jpg?1440274573","jamvatarSmall":"http:\/\/static01.thisismyjam.com\/i\/fbf3f7408ce14acf8a5b7f95bcb59d90_80.jpg?1440274573","creationDate":"Sat,
        22 Aug 2015 20:17:10 +0000","endDate":"Sat, 29 Aug 2015 20:17:10 +0000","playCount":3,"likesCount":1,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afbx8qh\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afbx8qh\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afbx8qh.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=ib_1ATfr8wM","url":"http:\/\/www.thisismyjam.com\/yiyun\/_afbx8qh","background":"http:\/\/static03.thisismyjam.com\/bg\/cd3ae34eb579624cc674959757327e5a1166097266.jpg","rejamsCount":0},{"id":"af8cbrv","from":"Charlotta","title":"Clampdown
        (live on Fridays 1980)","artist":"The Clash","combinedTruncated":"Clampdown
        (live on Fridays 1980) by\u2026","caption":"HBD\/RIP. #everyjamcouldbethelast","jamvatarLarge":"http:\/\/static02.thisismyjam.com\/i\/14af197935c3e9d3d507ecafe75ef8bb_395.jpg?1440191532","jamvatarMedium":"http:\/\/static02.thisismyjam.com\/i\/14af197935c3e9d3d507ecafe75ef8bb_185.jpg?1440191532","jamvatarSmall":"http:\/\/static04.thisismyjam.com\/i\/[...]
