---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/search/jam.json?by=artist&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":true,"code":400,"text":"Bad Request","message":"Invalid value
        for ''q'' parameter: ''''"}'
  recorded_at: Thu, 27 Aug 2015 21:53:52 GMT
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afv772i","from":"genome","title":"Jessica","artist":"The
        Allman Brothers Band","combinedTruncated":"Jessica by The Allman Brothers
        Band","caption":"one of those tracks that was burned into brain by parents
        at young age","jamvatarLarge":"http:\/\/static04.thisismyjam.com\/i\/80363a3aac00368e71360c9f553e6fe8_395.jpg?1440643237","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/80363a3aac00368e71360c9f553e6fe8_185.jpg?1440643237","jamvatarSmall":"http:\/\/static01.thisismyjam.com\/i\/80363a3aac00368e71360c9f553e6fe8_80.jpg?1440643237","creationDate":"Thu,
        27 Aug 2015 02:41:26 +0000","endDate":"Thu, 03 Sep 2015 02:41:26 +0000","playCount":1,"likesCount":3,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afv772i\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afv772i\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afv772i.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=yRDivUb5EeA","url":"http:\/\/www.thisismyjam.com\/genome\/_afv772i","background":"http:\/\/static01.thisismyjam.com\/bg\/583928e2d45793106535857ff822f2491281245142.jpg","rejamsCount":0},{"id":"afixia6","from":"ctull13","title":"Angel
        of Harlem","artist":"U2","combinedTruncated":"Angel of Harlem by U2","caption":"","jamvatarLarge":"http:\/\/static04.thisismyjam.com\/i\/be73b3c113645d135da1f2ac90e28568_395.jpg?1440427021","jamvatarMedium":"http:\/\/static03.thisismyjam.com\/i\/be73b3c113645d135da1f2ac90e28568_185.jpg?1440427021","jamvatarSmall":"http:\/\/static02.thisismyjam.com\/i\/be73b3c113645d135da1f2ac90e28568_80.jpg?1440427021","creationDate":"Mon,
        24 Aug[...]
