---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"af4yrtq","from":"Comics212","title":"We''ll Be Coming
        Back","artist":"Calvin Harris feat. Example","combinedTruncated":"We''ll Be
        Coming Back by Calvin Harr\u2026","caption":null,"jamvatarLarge":"http:\/\/static02.thisismyjam.com\/i\/9f49b052bc116c9b6224b1a92e300ebe_395.jpg?1440126681","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/9f49b052bc116c9b6224b1a92e300ebe_185.jpg?1440126681","jamvatarSmall":"http:\/\/static02.thisismyjam.com\/i\/9f49b052bc116c9b6224b1a92e300ebe_80.jpg?1440126681","creationDate":"Fri,
        21 Aug 2015 03:11:39 +0000","endDate":"Fri, 28 Aug 2015 03:11:39 +0000","playCount":3,"likesCount":0,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/af4yrtq\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/af4yrtq\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/af4yrtq.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=UKCHHtG1RhE","url":"http:\/\/www.thisismyjam.com\/Comics212\/_af4yrtq","background":"http:\/\/static04.thisismyjam.com\/bg\/d4ddf521d9b00f2b570b135745108034355980057.jpg","rejamsCount":0},{"id":"afjwp6a","from":"chai_maz","title":"Baby
        Don''t you Lie to me","artist":"The Fratellis","combinedTruncated":"Baby Don''t
        you Lie to me by The Fra\u2026","caption":"Getting pumped on a Monday!","jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/659ef1a2e5f79ebac6ac9017ea1d3078_395.jpg?1440439372","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/659ef1a2e5f79ebac6ac9017ea1d3078_185.jpg?1440439372","jamvatarSmall":"http:\/\/static03.thisismyjam.com\/i\/659ef1a2e[...]
