---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/popular.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afvpvaq","from":"Sid_Bonkers","title":"I Don''t Like
        To Travel","artist":"Byther Smith","combinedTruncated":"I Don''t Like To Travel
        by Byther Sm\u2026","caption":"Like Byther Smith \"I Dont Like To Travel\"
        when it means starting over on a new web site like LetsLoop but I have decided
        to give it a shot but since Ive been jamming here every day I just dont get
        any spare time so I wont be seen over there till the lights go out here.\n\nBorn
        the sixth oldest of seven children in 1933 in Monticello, Mississippi Smith
        migrated to Chicago in the mid 1950s. \n\nAlthough he worked for a candy company,
        Smith''s real passion was music. He played bass for a three-piece jazz combo
        for a few years, but he eventually got a spot playing rhythm guitar for Otis
        Rush. \n\nIn the early 1960s, Smith began to take the guitar more seriously
        and learned from J. B. Lenoir, Robert Lockwood, Jr., and Hubert Sumlin\n\nMore
        info here https:\/\/en.wikipedia.org\/wiki\/Byther_Smith\n\n\n    #Blues #LastJams
        #LongLiveTheJams \n#GoingDownJamming #tillthewheelsfalloff","jamvatarLarge":"http:\/\/static02.thisismyjam.com\/i\/1c87936a58dfda373d05baa71ea67780_395.jpg?1440658800","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/1c87936a58dfda373d05baa71ea67780_185.jpg?1440658800","jamvatarSmall":"http:\/\/static04.thisismyjam.com\/i\/1c87936a58dfda373d05baa71ea67780_80.jpg?1440658800","creationDate":"Thu,
        27 Aug 2015 07:05:41 +0000","endDate":"Thu, 03 Sep 2015 07:05:41 +0000","playCount":48,"likesCount":47,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afvpvaq\/likes.json","commentsCount":24,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afvpvaq\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afvpvaq.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=Mmw18487u3E","url":"http:\/\/www.thisismyjam.com\/Sid_Bonkers\/_afvpvaq","background":"http:\/\/static04.thisismyjam.com\/bg\/e4302023caaba11dd89ca9f00197c92a.jpg","rejamsCount":0},{"id":"afw54pr","from":"Shaka","title":"Muddy
        & Wolf","artist":"Muddy Waters & Howlin\u2019 Wolf","combinedTruncated":"Muddy
        & Wolf by Muddy Waters & Howl\u2026","caption":"This #blues album is not a
        collaboration...the vinyl I had back in the day packaged it as a battle of
        the bands\n\ntracks #1 - #6 taken from Muddy Water''s 1969 album \"Father
        and Sons\"\n1. All Aboard - Muddy Waters\n2. Blow Wind Blow\n3. Can''t Lose
        What You Ain''t Never Ha[...]
