---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/popular.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afzh8yc","from":"abigail.deeks","title":"Dancing Queen","artist":"ABBA","combinedTruncated":"Dancing
        Queen by ABBA","caption":"This was played on a  Friday night at The Pink Toothbrush
        at the end of the evening as the lights went up from my first days in 1987
        until I last went 5 years ago. I suspect it will be played tonight too. I
        also have a huge soft spot for ABBA and have this on single. So as the lights  go
        up this will be my #lastjam","jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/84c2c4acc8fc34169ef1bb29aba01d8c_395.jpg?1440741860","jamvatarMedium":"http:\/\/static03.thisismyjam.com\/i\/84c2c4acc8fc34169ef1bb29aba01d8c_185.jpg?1440741860","jamvatarSmall":"http:\/\/static01.thisismyjam.com\/i\/84c2c4acc8fc34169ef1bb29aba01d8c_80.jpg?1440741860","creationDate":"Fri,
        28 Aug 2015 06:12:28 +0000","endDate":"Fri, 04 Sep 2015 06:12:28 +0000","playCount":47,"likesCount":60,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afzh8yc\/likes.json","commentsCount":13,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afzh8yc\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afzh8yc.json","via":"vimeo","viaUrl":"http:\/\/vimeo.com\/4729929","url":"http:\/\/www.thisismyjam.com\/abigail.deeks\/_afzh8yc","background":"http:\/\/static01.thisismyjam.com\/bg\/77a2a827e4ec0a44b483e498468d47271147735616.jpg","rejamsCount":0},{"id":"ag003n9","from":"HappyZebra","title":"High
        Hopes","artist":"Pink Floyd","combinedTruncated":"High Hopes by Pink Floyd","caption":"My
        favourite Pink Floyd''s song so far. How can anyone dislike this?","jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/ce64b83ff1b8be59edb17180c70f2a1b_395.jpg?1440754727","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/ce64b83ff1b8be59edb17180c70f2a1b_185.jpg?1440754727","jamvatarSmall":"http:\/\/static02.thisismyjam.com\/i\/ce[...]
