---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"af8eavi","from":"SonicRoss","title":"Stuck For Words","artist":"The
        Joyce McKinney Experience","combinedTruncated":"Stuck For Words by The Joyce
        McKinn\u2026","caption":null,"jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/2671a5af576c13afb70a48d645ef6922_395.jpg?1440192120","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/2671a5af576c13afb70a48d645ef6922_185.jpg?1440192120","jamvatarSmall":"http:\/\/static01.thisismyjam.com\/i\/2671a5af576c13afb70a48d645ef6922_80.jpg?1440192120","creationDate":"Fri,
        21 Aug 2015 21:22:41 +0000","endDate":"Fri, 28 Aug 2015 21:22:41 +0000","playCount":4,"likesCount":2,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/af8eavi\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/af8eavi\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/af8eavi.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=-9wykryByYQ","url":"http:\/\/www.thisismyjam.com\/SonicRoss\/_af8eavi","background":"http:\/\/static04.thisismyjam.com\/bg\/56a13f1fda9fc42e2b841a24b8bea9a6.jpg","rejamsCount":0},{"id":"afp4i8o","from":"kelseyah","title":"BKNY","artist":"Fat
        Tony feat. Old Money","combinedTruncated":"BKNY by Fat Tony feat. Old Money","caption":null,"jamvatarLarge":"http:\/\/static02.thisismyjam.com\/i\/c3dcf04f4c8f5923af6b824db2469c5d_395.jpg?1440532181","jamvatarMedium":"http:\/\/static03.thisismyjam.com\/i\/c3dcf04f4c8f5923af6b824db2469c5d_185.jpg?1440532181","jamvatarSmall":"http:\/\/static02.thisismyjam.com\/i\/c3dcf04f4c8f5923af6b824db2469c5d_80.jpg?1440532181","creationD[...]
