---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"af8cbrv","from":"Charlotta","title":"Clampdown (live
        on Fridays 1980)","artist":"The Clash","combinedTruncated":"Clampdown (live
        on Fridays 1980) by\u2026","caption":"HBD\/RIP. #everyjamcouldbethelast","jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/14af197935c3e9d3d507ecafe75ef8bb_395.jpg?1440191532","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/14af197935c3e9d3d507ecafe75ef8bb_185.jpg?1440191532","jamvatarSmall":"http:\/\/static04.thisismyjam.com\/i\/14af197935c3e9d3d507ecafe75ef8bb_80.jpg?1440191532","creationDate":"Fri,
        21 Aug 2015 21:13:07 +0000","endDate":"Fri, 28 Aug 2015 21:13:07 +0000","playCount":41,"likesCount":27,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/af8cbrv\/likes.json","commentsCount":4,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/af8cbrv\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/af8cbrv.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=rnliAafBYzU","url":"http:\/\/www.thisismyjam.com\/Charlotta\/_af8cbrv","background":"http:\/\/static01.thisismyjam.com\/bg\/76c797cb083872b60d1f1520901b8d951716068285.jpg","rejamsCount":0},{"id":"afl0dnr","from":"Jqwerty","title":"Contagious","artist":"Night
        Riots","combinedTruncated":"Contagious by Night Riots","caption":null,"jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/36c909c4bdc56abf3a0fd3f1a5cdf007_395.jpg?1440454435","jamvatarMedium":"http:\/\/static02.thisismyjam.com\/i\/36c909c4bdc56abf3a0fd3f1a5cdf007_185.jpg?1440454435","jamvatarSmall":"http:\/\/static02.thisismyjam.com\/i\/36c909c4bdc56abf3a0fd3f1a5cdf007_80.jpg?1440454435","creationDate":"Mon,
    [...]
