---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/search/jam.json?by=artist&q=the%20knife
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afm4s00","from":"melimcclure","title":"Marble House
        + Lyrics","artist":"The Knife","combinedTruncated":"Marble House + Lyrics
        by The Knife","caption":null,"jamvatarLarge":"http:\/\/static04.thisismyjam.com\/i\/5f0b3b7942849501f31e0e7bf1fa3696_395.jpg?1440479363","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/5f0b3b7942849501f31e0e7bf1fa3696_185.jpg?1440479363","jamvatarSmall":"http:\/\/static02.thisismyjam.com\/i\/5f0b3b7942849501f31e0e7bf1fa3696_80.jpg?1440479363","creationDate":"Tue,
        25 Aug 2015 05:10:12 +0000","endDate":"Tue, 01 Sep 2015 05:10:12 +0000","playCount":1,"likesCount":0,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afm4s00\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afm4s00\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afm4s00.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=kyN5BYL8l_o","url":"http:\/\/www.thisismyjam.com\/melimcclure\/_afm4s00","background":"http:\/\/static03.thisismyjam.com\/bg\/b61665edc6e10d13d5d0cdf12f70a78a1085039004.jpg","rejamsCount":0},{"id":"afqt6ze","from":"Wockenfuss","title":"Close
        Up","artist":"Peaches (feat. Kim Gordon)","combinedTruncated":"Close Up by
        Peaches (feat. Kim Gord\u2026","caption":"Spoogie oogie look at that spillage","jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/8bc25f582df518cc20ae9e2e9cc0e962_395.jpg?1440558604","jamvatarMedium":"http:\/\/static03.thisismyjam.com\/i\/8bc25f582df518cc20ae9e2e9cc0e962_185.jpg?1440558604","jamvatarSmall":"http:\/\/static03.thisismyjam.com\/i\/8bc2[...]
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"ag0xod4","from":"stothefean","title":"For Maria","artist":"RM
        Hubbert","combinedTruncated":"For Maria by RM Hubbert","caption":"Another
       [...]
