---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/popular.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afyqus9","from":"debutch","title":"Velvet Goldmine","artist":"David
        Bowie","combinedTruncated":"Velvet Goldmine by David Bowie","caption":"My
        contribution to #FilthyFriday today is a song where I, OF COURSE. have absolutely
        NO idea what the words are about.\n.....well, you see , they just ''sound''
        filthy, that''s all......... because as you all know, I am a virtuous soul,
        who has lived a sheltered life like an angelic cherub raised in a monastery
        & who even once thought that \" A Walk On The Wild Side\" was about a stroll
        in Kew Gardens..........","jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/a14c23b81ab6c2abd83ffbbd80517278_395.jpg?1440719667","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/a14c23b81ab6c2abd83ffbbd80517278_185.jpg?1440719667","jamvatarSmall":"http:\/\/static01.thisismyjam.com\/i\/a14c23b81ab6c2abd83ffbbd80517278_80.jpg?1440719667","creationDate":"Fri,
        28 Aug 2015 00:00:20 +0000","endDate":"Fri, 04 Sep 2015 00:00:20 +0000","playCount":52,"likesCount":50,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afyqus9\/likes.json","commentsCount":47,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afyqus9\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afyqus9.json","via":"uploaded","viaUrl":"User
        uploaded","url":"http:\/\/www.thisismyjam.com\/debutch\/_afyqus9","background":"http:\/\/static04.thisismyjam.com\/bg\/886eb6fc24b44e89e0cce4ba063ca4d61368444937.jpg","rejamsCount":0},{"id":"afwjbcm","from":"stevefawcett","title":"Life
        On Mars?","artist":"David Bowie","combinedTruncated":"Life On Mars? by David
        Bowie","caption":"God''s on the phone... (See comments!)","jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/2cad0b23d29612010042616d217d20d8_395.jpg?1440680152","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/2cad0b23d29612010042616d217d20d8_185.jpg?1440680152","jamvatarSmall":"http:\/\/static01.thisismyjam.com\/i\/2cad0b23d2961201004261[...]
