---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afggznt","from":"katharynmartin","title":"I Still Love
        H.E.R.","artist":"Aaron Eliyah","combinedTruncated":"I Still Love H.E.R. by
        Aaron Eliyah","caption":"This guy know it. He''s smart, he''s kind and so
        talented. I am proud to call him my friend. Thank you Aaron for giving us
        such truthful and thoughtful music.","jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/232787a11f66d975dd4f042e1f0fe130_395.jpg?1440372946","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/232787a11f66d975dd4f042e1f0fe130_185.jpg?1440372946","jamvatarSmall":"http:\/\/static03.thisismyjam.com\/i\/232787a11f66d975dd4f042e1f0fe130_80.jpg?1440372946","creationDate":"Sun,
        23 Aug 2015 23:40:59 +0000","endDate":"Sun, 30 Aug 2015 23:40:59 +0000","playCount":6,"likesCount":1,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afggznt\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afggznt\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afggznt.json","via":"soundcloud","viaUrl":"http:\/\/soundcloud.com\/bevlabel\/i-still-love-her-prod-by-shelbyanthony","url":"http:\/\/www.thisismyjam.com\/katharynmartin\/_afggznt","background":"http:\/\/static03.thisismyjam.com\/bg\/eca1833fe4d553efab1244d76d28d8e41990674820.png","rejamsCount":0},{"id":"afp0dkp","from":"nickgeorgiou52","title":"backstabbers","artist":"o
        jays","combinedTruncated":"backstabbers by o jays","caption":"As it''s farewell
        I''m rolling off the ones I love the most","jamvatarLarge":"http:\/\/static04.thisismyjam.com\/i\/6f4103ef13731851b15b6ce7ddf56c74_395.jpg?1440531213","jamvatarMedium":"http:\/\/static03.thisismyjam.com\/i\/6f4103ef13731851b15b6ce7ddf56c74_185.jpg?1440531213","jamvatarSmall":"http:\/\/static02.thisismyjam.com\/i\/6f4103ef137[...]
