---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afd8gp4","from":"Dream3r","title":"March of Cambreadth","artist":"Heather
        Alexander","combinedTruncated":"March of Cambreadth by Heather Alex\u2026","caption":"I
        haven''t heard this in ages, but it''s just what I needed for some serious
        inspiration. And it brings back good memories.","jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/61f8f3a5c656038cf9b5eab5870f311e_395.jpg?1440309034","jamvatarMedium":"http:\/\/static03.thisismyjam.com\/i\/61f8f3a5c656038cf9b5eab5870f311e_185.jpg?1440309034","jamvatarSmall":"http:\/\/static03.thisismyjam.com\/i\/61f8f3a5c656038cf9b5eab5870f311e_80.jpg?1440309034","creationDate":"Sun,
        23 Aug 2015 05:51:49 +0000","endDate":"Sun, 30 Aug 2015 05:51:49 +0000","playCount":12,"likesCount":2,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afd8gp4\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afd8gp4\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afd8gp4.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=jFi7bWkyRpA","url":"http:\/\/www.thisismyjam.com\/Dream3r\/_afd8gp4","background":"http:\/\/static02.thisismyjam.com\/bg\/7d55c9c39c38814843caa4da406a73b1222914021.jpg","rejamsCount":0},{"id":"afrsx9l","from":"antom","title":"Getaway","artist":"The
        Music","combinedTruncated":"Getaway by The Music","caption":"","jamvatarLarge":"http:\/\/static02.thisismyjam.com\/i\/48478bb54183bf1c82074d535d7a3c94_395.jpg?1440586517","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/48478bb54183bf1c82074d535d7a3c94_185.jpg?1440586517","jamvatarSmall":"http:\/\/static04.thisismyjam.com\/i\/48478bb54183bf1c82074d535d7a3c94_80.jpg?1440586517","creationDate":"Wed,
        26 Aug 201[...]
