---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"af4jiep","from":"Danis","title":"All Night","artist":"slum
        sociable","combinedTruncated":"All Night by slum sociable","caption":null,"jamvatarLarge":"http:\/\/static04.thisismyjam.com\/i\/0b87ff6ca607bc71cd3aa37eef5f57a4_395.jpg?1440116178","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/0b87ff6ca607bc71cd3aa37eef5f57a4_185.jpg?1440116178","jamvatarSmall":"http:\/\/static03.thisismyjam.com\/i\/0b87ff6ca607bc71cd3aa37eef5f57a4_80.jpg?1440116178","creationDate":"Fri,
        21 Aug 2015 00:18:19 +0000","endDate":"Fri, 28 Aug 2015 00:18:19 +0000","playCount":3,"likesCount":1,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/af4jiep\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/af4jiep\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/af4jiep.json","via":"hypemachine","viaUrl":"http:\/\/hypem.com\/item\/2cs21","url":"http:\/\/www.thisismyjam.com\/Danis\/_af4jiep","background":"http:\/\/static03.thisismyjam.com\/bg\/1990836b7bec866eacfebe9bd6f345c21174037538.jpg","rejamsCount":0},{"id":"afvu6fe","from":"fortunaforme","title":"Run
        Away with Me","artist":"Carly Rae Jepsen","combinedTruncated":"Run Away with
        Me by Carly Rae Jepse\u2026","caption":null,"jamvatarLarge":"http:\/\/static02.thisismyjam.com\/i\/8ee33b953e69857fc26f7e3226cb64bf_395.jpg?1440662899","jamvatarMedium":"http:\/\/static02.thisismyjam.com\/i\/8ee33b953e69857fc26f7e3226cb64bf_185.jpg?1440662899","jamvatarSmall":"http:\/\/static04.thisismyjam.com\/i\/8ee33b953e69857fc26f7e3226cb64bf_80.j[...]
