---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"ag0lgtw","from":"hipsterplease","title":"Orion''s Belt
        (feat. Riff Raff)","artist":"Kitty Pryde","combinedTruncated":"Orion''s Belt
        (feat. Riff Raff) by K\u2026","caption":"\"Rap game Peppermint Patty \/ in
        the lavender bumblebee jacket.\"","jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/ffc33bb9a6fd16da6b25d36130046c67_395.jpg?1440768227","jamvatarMedium":"http:\/\/static02.thisismyjam.com\/i\/ffc33bb9a6fd16da6b25d36130046c67_185.jpg?1440768227","jamvatarSmall":"http:\/\/static01.thisismyjam.com\/i\/ffc33bb9a6fd16da6b25d36130046c67_80.jpg?1440768227","creationDate":"Fri,
        28 Aug 2015 13:25:05 +0000","endDate":"Fri, 04 Sep 2015 13:25:05 +0000","playCount":6,"likesCount":0,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/ag0lgtw\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/ag0lgtw\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/ag0lgtw.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=2NNbeS-_EEA","url":"http:\/\/www.thisismyjam.com\/hipsterplease\/_ag0lgtw","background":"http:\/\/static02.thisismyjam.com\/bg\/f53d5b73a93ba7198cb22bebbb2cb081618357427.jpg","rejamsCount":0},{"id":"afzkau5","from":"VirtuesCount","title":"Let
        There Be Peace On Earth (feat. Amanda Martinez)","artist":"Rosanna Riverso","combinedTruncated":"Let
        There Be Peace On Earth (feat. \u2026","caption":"#Duets #Sacred #Bilingual\u00a0#FaithFilledFriday","jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/8717277296f618a7ce41c4a2ab4785d7_395.jpg?1440744640","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/8717277296f618a7ce41c4a2ab4785d7_185.jpg?1440744640","jamvatarSm[...]
