---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afbzeat","from":"2001bottles","title":"Through the
        Invisible","artist":"Skratch Bastid and The Afiara Quartet","combinedTruncated":"Through
        the Invisible by Skratch Ba\u2026","caption":"And now for something completely
        different - scratch meets quartet. This is my new jam b\/c new & different
        can stimulate.","jamvatarLarge":"http:\/\/static02.thisismyjam.com\/i\/a5baa0d77257abe47be84bf6277f9c2f_395.jpg?1440275663","jamvatarMedium":"http:\/\/static03.thisismyjam.com\/i\/a5baa0d77257abe47be84bf6277f9c2f_185.jpg?1440275663","jamvatarSmall":"http:\/\/static03.thisismyjam.com\/i\/a5baa0d77257abe47be84bf6277f9c2f_80.jpg?1440275663","creationDate":"Sat,
        22 Aug 2015 20:37:08 +0000","endDate":"Sat, 29 Aug 2015 20:37:08 +0000","playCount":0,"likesCount":0,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afbzeat\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afbzeat\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afbzeat.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=MV47jVaYLQ0","url":"http:\/\/www.thisismyjam.com\/2001bottles\/_afbzeat","background":"http:\/\/static03.thisismyjam.com\/bg\/e16ec524302ffdb2bcb0c06d4c66002a878316360.jpg","rejamsCount":0},{"id":"aflj1vz","from":"mattbevilacqua","title":"Watching
        That Chair Painted Yellow","artist":"The Twilight Sad","combinedTruncated":"Watching
        That Chair Painted Yellow \u2026","caption":"Sad song.","jamvatarLarge":"http:\/\/static04.thisismyjam.com\/i\/b24c0bcb471d11979607a092e741bd4e_395.jpg?1440465605","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/b24c0bcb471d11979607a092e741bd4e_185.jpg?1440465605","jamvatarSmall":"http:\/\/static02.thisismyjam.com\/i\/b24c0bcb47[...]
