---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afr19un","from":"parkjammin","title":"Music Of My Life","artist":"MYNAME","combinedTruncated":"Music
        Of My Life by MYNAME","caption":null,"jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/595e8c25dc5b84376b943e8ec6c0d890_395.jpg?1440565771","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/595e8c25dc5b84376b943e8ec6c0d890_185.jpg?1440565771","jamvatarSmall":"http:\/\/static01.thisismyjam.com\/i\/595e8c25dc5b84376b943e8ec6c0d890_80.jpg?1440565771","creationDate":"Wed,
        26 Aug 2015 05:09:53 +0000","endDate":"Wed, 02 Sep 2015 05:09:53 +0000","playCount":0,"likesCount":0,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afr19un\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afr19un\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afr19un.json","via":"soundcloud","viaUrl":"http:\/\/soundcloud.com\/insoooppa\/03-music-of-my-life","url":"http:\/\/www.thisismyjam.com\/parkjammin\/_afr19un","background":"http:\/\/static03.thisismyjam.com\/bg\/6421c5dd12480e216b93f4cd2a9f11a8660229771.jpg","rejamsCount":0},{"id":"aftujeb","from":"RigidDigit","title":"The
        Next Storm","artist":"Frank Turner","combinedTruncated":"The Next Storm by
        Frank Turner","caption":null,"jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/70aab236739f35e9e19ea7ae0a6a30f9_395.jpg?1440618424","jamvatarMedium":"http:\/\/static02.thisismyjam.com\/i\/70aab236739f35e9e19ea7ae0a6a30f9_185.jpg?1440618424","jamvatarSmall":"http:\/\/static03.thisismyjam.com\/i\/70aab236739f35e9e19ea7ae0a6a30f9_80.jpg?1440618424","cre[...]
