---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/breaking.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afixia6","from":"ctull13","title":"Angel of Harlem","artist":"U2","combinedTruncated":"Angel
        of Harlem by U2","caption":"","jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/be73b3c113645d135da1f2ac90e28568_395.jpg?1440427021","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/be73b3c113645d135da1f2ac90e28568_185.jpg?1440427021","jamvatarSmall":"http:\/\/static02.thisismyjam.com\/i\/be73b3c113645d135da1f2ac90e28568_80.jpg?1440427021","creationDate":"Mon,
        24 Aug 2015 14:38:17 +0000","endDate":"Mon, 31 Aug 2015 14:38:17 +0000","playCount":9,"likesCount":8,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afixia6\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afixia6\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afixia6.json","via":"vimeo","viaUrl":"http:\/\/vimeo.com\/80093807","url":"http:\/\/www.thisismyjam.com\/ctull13\/_afixia6","background":"http:\/\/static03.thisismyjam.com\/bg\/1e4faf03f21ea713fed53eed13b6cf621118716062.jpg","rejamsCount":0},{"id":"afxo2m9","from":"JoRiGo_UK","title":"Babe
        I''m Gonna Leave You","artist":"Led Zeppelin","combinedTruncated":"Babe I''m
        Gonna Leave You by Led Zep\u2026","caption":"It''s been fun, but it''s time
        to sign off with this from Led Zeppelin #LastJam","jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/4fab5d2d544886df615176099efb35a1_395.jpg?1440701148","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/4fab5d2d544886df615176099efb35a1_185.jpg?1440701148","jam[...]
