---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/search/jam.json?by=artist&q=lololololololol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[],"list":{"next":null,"hasMore":false}}'
  recorded_at: Thu, 27 Aug 2015 18:08:31 GMT
recorded_with: VCR 2.9.3
