---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/search/jam.json?by=artist&q=the%20knife
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afqt6ze","from":"Wockenfuss","title":"Close Up","artist":"Peaches
        (feat. Kim Gordon)","combinedTruncated":"Close Up by Peaches (feat. Kim Gord\u2026","caption":"Spoogie
        oogie look at that spillage","jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/8bc25f582df518cc20ae9e2e9cc0e962_395.jpg?1440558604","jamvatarMedium":"http:\/\/static02.thisismyjam.com\/i\/8bc25f582df518cc20ae9e2e9cc0e962_185.jpg?1440558604","jamvatarSmall":"http:\/\/static03.thisismyjam.com\/i\/8bc25f582df518cc20ae9e2e9cc0e962_80.jpg?1440558604","creationDate":"Wed,
        26 Aug 2015 03:11:28 +0000","endDate":"Wed, 02 Sep 2015 03:11:28 +0000","playCount":2,"likesCount":1,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afqt6ze\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afqt6ze\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afqt6ze.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=-rnJAe3zuzQ","url":"http:\/\/www.thisismyjam.com\/Wockenfuss\/_afqt6ze","background":"http:\/\/static03.thisismyjam.com\/bg\/a774f78d54b5eface298e88fa8c88594936444785.jpg","rejamsCount":0},{"id":"afnkb3b","from":"madmartyr","title":"Utopia","artist":"Goldfrapp","combinedTruncated":"Utopia
        by Goldfrapp","caption":"Feeling good and making stuff. Good weird stuff.","jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/9427d574b5494e02f8f83907def263e0_395.jpg?1440513026","jamvatarMedium":"http:\/\/static03.thisismyjam.com\/i\/9427d574b5494e02f8f83907def263e0_185.jpg?1440513026","jamvatarSmall":"http:\/\/static01.thisismyjam.com\/i\/9427d574b5494e02f8f83907def263e0_80.jpg?1[...]
