---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afwl3zk","from":"ChocMilkZA","title":"Lurk","artist":"The
        Neighbourhood","combinedTruncated":"Lurk by The Neighbourhood","caption":"It''s
        been a while.","jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/32853dc67b8e007a24e5c18a23173cee_395.jpg?1440680808","jamvatarMedium":"http:\/\/static02.thisismyjam.com\/i\/32853dc67b8e007a24e5c18a23173cee_185.jpg?1440680808","jamvatarSmall":"http:\/\/static01.thisismyjam.com\/i\/32853dc67b8e007a24e5c18a23173cee_80.jpg?1440680808","creationDate":"Thu,
        27 Aug 2015 13:15:10 +0000","endDate":"Thu, 03 Sep 2015 13:15:10 +0000","playCount":2,"likesCount":0,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afwl3zk\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afwl3zk\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afwl3zk.json","via":"soundcloud","viaUrl":"http:\/\/soundcloud.com\/theneighbourhood\/lurk","url":"http:\/\/www.thisismyjam.com\/ChocMilkZA\/_afwl3zk","background":"http:\/\/static01.thisismyjam.com\/bg\/1d27db2a4a6425431d41e210476bfe021943538110.jpg","rejamsCount":0},{"id":"afsocf4","from":"cid1615","title":"You
        Keep Me Hangin'' On (Live)","artist":"Vanilla Fudge","combinedTruncated":"You
        Keep Me Hangin'' On (Live) by Va\u2026","caption":"6","jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/e7e8df95446df96d75c995811e778d03_395.jpg?1440599891","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/e7e8df95446df96d75c995811e778d03_185.jpg?1440599891","jamvatarSmall":"http:\/\/static03.thisismyjam.com\/i\/e7e8df95446df96d75c995811e778d0[...]
