---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afa1wu2","from":"shaelriley","title":"Personal Jesus
        (cover)","artist":"Leo Moracchioli","combinedTruncated":"Personal Jesus (cover)
        by Leo Morac\u2026","caption":null,"jamvatarLarge":"http:\/\/static01.thisismyjam.com\/i\/8cfb7d5e8cf45cf05e84419f60332cb1_395.jpg?1440229109","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/8cfb7d5e8cf45cf05e84419f60332cb1_185.jpg?1440229109","jamvatarSmall":"http:\/\/static03.thisismyjam.com\/i\/8cfb7d5e8cf45cf05e84419f60332cb1_80.jpg?1440229109","creationDate":"Sat,
        22 Aug 2015 07:39:19 +0000","endDate":"Sat, 29 Aug 2015 07:39:19 +0000","playCount":1,"likesCount":0,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afa1wu2\/likes.json","commentsCount":0,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afa1wu2\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afa1wu2.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=jxJBq5eLhSU","url":"http:\/\/www.thisismyjam.com\/shaelriley\/_afa1wu2","background":"http:\/\/static04.thisismyjam.com\/bg\/3acc449e2bd6c1303ba9d3e3052462651410441222.jpg","rejamsCount":0},{"id":"af5asw9","from":"davyghost","title":"Old
        Man Me","artist":"Frank Hutson","combinedTruncated":"Old Man Me by Frank Hutson","caption":"Possibly
        the greatest record ever made that you''ve never heard.\n\nI love you all
        - see you at the other place http:\/\/www.letsloop.com\/davyghost x","jamvatarLarge":"http:\/\/static04.thisismyjam.com\/i\/8d9ca019c574b2ac04fdb50ba1cddf08_395.jpg?1440134101","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/8d9ca019c574b2ac0[...]
