---
http_interactions:
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/popular.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afzcrcz","from":"BertrandRustles","title":"It''s All
        Over Now Baby Blue","artist":"Them","combinedTruncated":"It''s All Over Now
        Baby Blue by Them","caption":"Just posting some of my favourite tracks until
        the end. #LongLiveTheJams #ThanksTIMJ  #TillTheWheelsFallOff\u2019","jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/0aab87eb0f7f0f1c0c83805d88a595c6_395.jpg?1440739152","jamvatarMedium":"http:\/\/static04.thisismyjam.com\/i\/0aab87eb0f7f0f1c0c83805d88a595c6_185.jpg?1440739152","jamvatarSmall":"http:\/\/static02.thisismyjam.com\/i\/0aab87eb0f7f0f1c0c83805d88a595c6_80.jpg?1440739152","creationDate":"Fri,
        28 Aug 2015 05:21:39 +0000","endDate":"Fri, 04 Sep 2015 05:21:39 +0000","playCount":34,"likesCount":46,"likes":"http:\/\/api.thisismyjam.com\/1\/jams\/afzcrcz\/likes.json","commentsCount":3,"comments":"http:\/\/api.thisismyjam.com\/1\/jams\/afzcrcz\/comments.json","current":true,"apiUrl":"http:\/\/api.thisismyjam.com\/1\/jams\/afzcrcz.json","via":"youtube","viaUrl":"http:\/\/www.youtube.com\/watch?v=9L50OJ3iIkw","url":"http:\/\/www.thisismyjam.com\/BertrandRustles\/_afzcrcz","background":"http:\/\/static03.thisismyjam.com\/bg\/08d3d28d3ec0e91b03312c0449086a7f1100489050.jpg","rejamsCount":0},{"id":"ag0a5m5","from":"psyclopstrees","title":"How
        long shall I wait","artist":"James Lewis Fields","combinedTruncated":"How
        long shall I wait by James Lewi\u2026","caption":"#FunkyFriday","jamvatarLarge":"http:\/\/static03.thisismyjam.com\/i\/6b97510bad1dfbbaf909f9a461b471d8_395.jpg?1440762166","jamvatarMedium":"http:\/\/static01.thisismyjam.com\/i\/6b97510bad1dfbbaf909f9a461b471d8_185.jpg?1440762166","jamvatarSmall":"http:\/\/static04.thisismyjam.com\/i\/6b97510bad1dfbbaf90[...]
- request:
    method: get
    uri: http://api.thisismyjam.com/1/explore/chance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jams":[{"id":"afgo67l","from":"Clefspeare13","title":"Deine Schuld","artist":"Die
        \u00c4rzte","combinedTruncated":"Deine Schuld by Die \u00c4rzte","caption":[...]
