  <div id="form">
<%= form_tag search_path %>
  <%= label_tag :artist %>
  <%= text_field_tag :artist %>

    <%= submit_tag "Look up Jukebox Users", class: "btn btn-default" %>
  </div>
  <div id="results">

  </div>
