<div class="jumbotron text-center">
  <h1>jQuery Jukebox</h1>

  <br><br>

  <div class="center-block col-sm-3 no-float">
    <%= form_tag(search_path(:artist), method: :get) do %>
      <%= label_tag :artist, "Find Jams by Artist" %>
      <%= text_field_tag :artist, nil, class: "form-control center-text" %>
      <br>
      <%= submit_tag "Search", id: 'search', class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<div id="results" class="center-block col-sm-6 no-float">
  <!-- js will handle posting here -->
</div>
