<div id="results">
  <!-- results list -->
  <ul class="list-group">
    <li class="list-group-item">
      <!-- display instructions if no searches yet made -->
      <p>Search for your favorite artist in the box above!</p>
      <p>Find out what other people think is their best song.</p>
      <!-- shout out to source API -->
      <p>This service is powered by <a id="jam" href="https://www.thisismyjam.com/">This Is My Jam</a>.</p>
    </li>
  </ul>
</div>
