<h1>Find my jam</h1>

<%= form_tag('/search', method: "get") do %>
    <%= text_field_tag :artist %>
    <%= submit_tag "Search", class: "artist-search" %>
<% end %>


<h1>Hot and New</h1>
<%= button_to "FIRE!", "/popular", method: "get", class: "hot-songs" %>
