// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-grey: #efe;
$dark-green: #080;
$black: #000;
$results-width: 600px;

#results {
  padding-top: 20px;
  margin: auto;
  width: $results-width;
  max-width: $results-width;
  min-width: $results-width;
  a, a:link, a:visited, a:hover, a:active {
    font-size: 1.5rem;
    color: $dark-green;
    padding: 5px;
    display: inline-block;
    text-align: center;
  }
  a:hover, a:active {
    text-decoration: none;
    color: $black;
  }
}

#results .grey {
  background-color: $light-grey;
}
