// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background: image-url("space.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: 'Jura';
  text-align: center;
  margin: auto;
  float: none;
}

form, form div {
  display: inline;
}

h1 {
  font-size: 3em;
}

a:link, h2 {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(0, 255, 0);
}

.text_box {
  height: 2em;
  font-size: 12px;
}

.search, .rando {
    width: 6em;
    height: 2em;
}

.jamz-background {
  background-color: rgba(0,0,0, .5);
  width: 700px;
  margin: auto;
  float: none;
  margin: 20px auto;
  padding: 20px;

}

.no-results-photo {
  background: image-url("uh-oh.png")no-repeat center;
  height: 500px;
}
