/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.scroll_border {
  border-bottom: 2px solid #CCCCCC;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.button_to {
  display: inline-block;
}

input[type="text"] {
  display: block;
  margin: 10px auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

input[type="submit"] {
  border: 1px solid black;
  background-color: #E2DDD1;
  border-radius: 50px;

}

input[type="submit"]:hover {
  background-color: #C0B6A5;
}

h1 {
  font-family: 'Codystar', cursive;
  text-align: center;
  font-size: 4em;
  margin: 20px auto;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}

.main-h3 {
  padding-top: 120px;

}

h4 {
  text-align: center;
  font-size: 1.5em;
  padding: 200px;
}

.button_to {
  text-align: center;
  display: block;
}

.search-box {
  text-align: center;
  margin: 50px auto;
}

hr {
  width: 70%;
}

.breaking_jams {
  min-height: 204px;
}

.results {
  margin: 40px auto;
}

.results div {
  width: 20%;
  display: inline-block;
  text-align: center;
  font-size: 0.7em;
  vertical-align: top;
  margin: 20px auto;
}

.results div img {
  display: block;
  margin: 5px auto;
  width: 190px;
  border-radius: 200px;
}

.active_video {
  height: 0px;
  /* transition height to 480px on click */
  overflow: hidden;
}

iframe {
  height: 400px;
  width: 500px;
  display: block;
  margin: 40px auto;
}
