/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


body {
  font-family: 'PT Sans', 'sans-serif';
  background-color: #FFFFF1;
}

.container-fluid {
  width: 85%;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  font-family: 'Indie Flower', 'cursive';
  font-size: 500%;
}

img {
  max-width: 90%;
  display: block;
  margin: auto;
}

form {
  text-align: center;
}

ul {
  max-width: 80%;
  margin: 20px auto;
}

.empty img {
  max-width: 50%;
}
