/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("old.jpg");;
}

header {
  border-bottom: solid, black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  background-color:rgba(153, 204, 255, .8);
  width: 70%;
  padding: 1em;
  font-family: 'Lato', sans-serif;
  height: 10em;
}

h1 {
  font-family: 'Frijole', cursive;
  font-size: 50px;
}

ul {
  background-color: rgba(153, 204, 255, .8);
  margin-left: auto;
  margin-right: auto;
  width: 935px;
  padding: 1em;
}




li {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  background-color: rgba(153, 204, 255, .8);
  width: 70%;
  padding: 1em;
  font-family: 'Lato', sans-serif;
}

.search_form {
  display: inline;
}

.search {
  padding: 7px;
  display: inline;
  background-color: #B8E68A;
}

.popular input {
  display: inline;
  padding: 7px;
  background-color: #B8E68A;
}

.popular {
  display: inline;
}

.song {
  white-space: nowrap;
  overflow: hidden;
}

iframe {
  margin: auto;
  margin-left: 25px;
}
