/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
  background: -webkit-linear-gradient(0deg, #000000, #FF0000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(0deg, #000000, #FF0000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(0deg, #000000, #FF0000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, #000000, #FF0000); /* Standard syntax */
  background-repeat: no-repeat;
  background-color: #000000;
}

div.wobsite {
  width: 960px;
  margin: auto;
  padding-bottom: 20px;
  font-family: fantasy;
  text-align: center;
  background-color: white;
  border-color: black;
  border-radius: 0.8em;
}

h1 {
  padding-top: 5px;
  font-size: 3em;
}

/*SO COOL THE ATTR/PROP */
input[name=artist] {
  background-color: black;
  color: white;
}

input[type=submit] {
  background-color: red;
  font-family: Arial;
  color: #ffffff;
  font-size: 1em;
  background: #000000;
  padding: 3px 5px;
  text-decoration: none;
}

input:focus {
  outline-color: hsla(360, 100%, 50%, 1);
}

input {
  display: block;
  margin: 3px auto 7px auto;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 1em 0;
}

/*li:nth-child(3n) {
  background-color: hsla(0, 0%, 75%, 0.5);
}
li:nth-child(3n-1) {
  background-color: hsla(0, 0%, 65%, 0.5);
}
li:nth-child(3n-2) {
  background-color: hsla(0, 0%, 55%, 0.5);
}*/
