.title-text {
  color: #1717AC;
  font-size: 100px;
  font-weight: 900;
}

.html {
  background-color: #B5B5B5;
}

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 50px;
  margin: 0px auto;
}

.list {
  margin: 30px auto;
}

.list-item {
  font-size: 120%;
  min-height: 40px;
}

.vid-frame {
  margin-top: 20px;
  color: #F2008E;
}

.btn.btn-chance, .btn.btn-chance:link, .btn.btn-chance:active, .btn.btn-chance:visited {
  background-color: #00D87B;
  border-color: #00D87B;
}

.btn.btn-chance:hover {
  background-color: #41DB99;
  border-color: #41DB99;
}

.btn.btn-play {
  background-color: transparent;
  border-color: transparent;
  float: right;
}

.link-icon {
  float: right;
  color: black;
  width: 32px;
}
