.title-text {
  color: #1717AC;
  font-size: 100px;
  font-weight: 900;
}

.html {
  background-color: #B4B4B9;
}

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 50px;
  margin: 0px auto;
}

.list {
  margin: 30px auto;
}

.vid-frame {
  color: #F2008E;
}

.btn.btn-chance {
  background-color: #00D87B;
  border-color: #00D87B;
}

.btn.btn-chance:hover {
  background-color: #41DB99;
  border-color: #41DB99;
}

.btn.btn-chance:visited {
  background-color: #00D87B;
  border-color: #00D87B;
}
