// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid {
  background-color: #ADCACC;
  font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
  min-height: 1000px;
}

.eighties {
  font-family: 'Brush Script MT', cursive;
  font-size: 4.6em;
  color: #A6256E;
}
.link-style {
  color: #8411F7;
  font-size: 1.6rem;
  font-weight: bold;
}

.link-style:hover {
  color: #02C218;
}

.search-form {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 10px;
}

button[type="submit"] {
  font-family: 'Lucida Sans Typewriter', 'Lucida Console';
  background-color: #E4DB05;
  font-size: 1.6rem;
}

button[type="submit"]:hover {
  background-color: #de5200;
   color: white;
}

input[type="text"] {
  font-family: 'Lucida Sans Typewriter', 'Lucida Console';
  font-size: 1.6rem;
}

input[type="text"]:hover {
  border: solid 2px #E4DB05;
}

.other-api {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
}

button[type="submit"].random {
  font-family: 'Lucida Sans Typewriter', 'Lucida Console';
  background-color: #4700B2;
  color: #FFB6C1;
  font-size: 1.6rem;
  margin-left: 10px;
}

button[type="submit"].random:hover {
  background-color: #de5200;
   color: white;
}

button[type="submit"].popular {
  font-family: 'Lucida Sans Typewriter', 'Lucida Console';
  background-color: #09E60D;
  color: #E60909;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 10px;
}

button[type="submit"].popular:hover {
  background-color: #de5200;
   color: white;
}

.results {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #C2020F;
}

.giphy {
  width: 400px;
  height: 480px;
}

///1.777777
.youtube {
  width: 444px;
  height: 250px;
}

// 1.3333333
.vimeo {
  width: 444px;
  height: 333px;
}
